<div class="row container">
  <div class="col-md-6">
    <app-pending-tasks [tasklist]="taskList" (completedTasksList)="markAsCompleted($event)"></app-pending-tasks>
  </div>
  <div class="col-md-6">
    <app-completed-tasks [completedtaskList]="completedtaskList" (pendingTasksList)="markAsPending($event)"></app-completed-tasks>
  </div>
</div>

<div class="fixed-bottom container mb-3">
  <form [formGroup]="taskForm" (ngSubmit)="submitTaks()" autocomplete="off">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" id="taskName" formControlName="message" class="form-control" placeholder="Enter task...."
            required>
        </div>
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-block btn-primary" [disabled]="taskForm.invalid">Create Task</button>
      </div>
    </div>
  </form>
</div>
